h1 {
  text-align: center;
  font-size: 500%;
}

p {
  margin: auto;
  line-height: 1.6;
}

body {
  background: linear-gradient(to bottom right, #FFF5C3, #9452A5);
}

.helvetica {
  font-family: helvetica;
}
